@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


h1 {
    text-align: center;
}
body {
    background-image: url("img/vuelo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    font-family: 'Anton', sans-serif;

}

input {
    height: 40px;
    width: 40%;
}
.buscador {
  display: flex;
  height: 200px;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto;
  background-image: linear-gradient(
    rgba(250, 112, 154, 0.59),
    rgba(254, 225, 64, 0.62)
  );
  padding: 50px 70px;
  align-items: center;
  font-size: 24px;
  margin-bottom: 40px;
}

.buscador-fecha {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.buscador-pais {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.buscador-pasajeros {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.buscar {
  width: 100%;
}

.caja-vuelo {
  display: flex;
  height: 200px;
  justify-content: space-around;
  width: 60%;
  margin: 0 auto;
  color: #6c464e;
  background-color:rgba(255, 255, 255, 0.8);
  padding: 50px 70px;
  align-items: center;
  font-size: 24px;
  margin-bottom: 15px;
  border-radius:  15px;
}

.caja-ida {
  display: flex;
  flex-direction: column;
}

.caja-vuelta {
  display: flex;
  flex-direction: column;
}
.caja-duracion {
  display: flex;
  justify-content: center;
}
#adultos, #ninios, #bebes{
  background-size: 12px;
  background-position: left;
  background-repeat: no-repeat;
  text-indent: 15px;
  height: 30px;
  width: 30%;
  color: #6c464e;
  font-weight: bold;
  font-size: 20px;

}
#adultos {
    background-image: url("img/ano.webp");
}
#ninios {
  background-image: url("img/ninio.png");
  width: 50px;
}
#bebes {
  background-image: url("img/baby.png");
}
.buscar {
    height: 100px;
    font-size: 30px;
    width: 125%;
    cursor: pointer;
    background-color: #6c464ea6;
    color: whitesmoke;
    border-radius: 15px;
}

.buscador-fecha input, 
.buscador-pais input {
  font-size: 18px ;
  color: #6c464e;
  width: 200px;
}
.imagen {
  height: 50px;
}
.duracion {

  font-size: 20px;
  margin-top: 0px;
  text-align: start;

}
.title{
  color: #CE7DA5;
    text-shadow:
   -1px -1px 0 #fff,  
    1px -1px 0 #fff,
   -1px 1px 0 #fff,
    1px 1px 0 #fff;
}
.aeropuerto{
  margin: 0px;
}
.ciudad{
  font-size: 50px;
  margin: 0px;
  color: grey;
}
.fecha{
  margin: 0px;
}
.hora{
  margin: 0px;
}
.precio{
  margin: 0px;
  background-color: #6c464e;
  color: white;
  padding: 25px;
  border-radius: 15px;
  background-image: linear-gradient(
    rgba(250, 112, 154, 0.59),
    rgba(254, 225, 64, 0.62)
  );
}

.caja-precio p:last-child {
  font-size: 18px;
  text-align:center;
  text-transform: uppercase;
  color: orange;
  background-color: black;
  border-radius: 15px;
}
.niños{
  display: flex;
}

.icon{
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.icon:hover {
  opacity: .8;
}

.edad{
  display: none;
  width: 150px;
}

